<router-outlet></router-outlet>
<h1>
  {{lastname}} {{firstname}}
</h1>
<p *ngIf="firstname != 'Anil'">Name Updated!</p>
<button (click)="onChangeName()">Change Name</button>
<h1>My Hobbies - {{elements.length}}</h1>
<input type="text" name="hobby" id="hobbyId" [(ngModel)]="hobby">
<button (click)="onAddElement(hobby)">Add Hobbies</button>
<ul>
  <li 
    *ngFor="let el of elements"
    (click)="onRemoveElement(el)">{{ el }}</li>
</ul>

<hr><hr>
<app-username [username]="'Shri'" (userClicked)="onUserWasClicked($event)"></app-username>
<app-username [username]="'Tharunika'" (userClicked)="onUserWasClicked($event)"></app-username>
<input type="text" [(ngModel)]="message">
<p>{{ message }}</p>