<script src="https://unpkg.com/vue">
</script>

<div id="app">
    <p>{{ name+" - "+ age }}</p>
    <p v-if="name == 'Anil' ? false: true">Name updated!</p>
    <button v-on:click="changeName">Change Name</button>
    <button v-on:click="addElement">New Element</button>
    <ul>
        <li v-for="element in elements">Element {{element}}</li>
    </ul>
</div>

<script>
new Vue({
    el: '#app',
    data: {
        name: 'Anil',
        age: '30',
        elements: []
    },
    methods: {
        changeName: function(){
            this.name = 'Kumar'
        },
        addElement: function(){
            this.elements.push(this.elements.length+1);
        }
    }
});
</script>