<script src="https://unpkg.com/vue">
</script>
<style>
    .updated {
        background-color: aqua;
        color: brown;
    }
</style>

<div id="app">
    <p v-bind:class="{updated: name == 'Anil' ? false: true}">{{ name+" - "+ age }}</p>
    <p v-if="name == 'Anil' ? false: true">Name updated!</p>
    <button v-on:click="changeName">Change Name</button>
    <button v-on:click="addElement">New Element</button>
    <ul>
        <li v-for="element in elements" v-bind:id=" 'el' + element "
            v-bind:style="{backgroundColor: getColor(element)}">Element {{element}}</li>
    </ul>
    <app-username v-bind:username="'Thoom'"></app-username>
    <app-username v-bind:username="'Anil Kumar'"></app-username>
</div>

<script>
    Vue.component('app-username', {
        props: ['username'],
        data: function () {
            return {
                //username: 'Thoom'
            }
        },
        template: '<p v-on:click="changeUser">{{ username }}</p>'
    });
    new Vue({
        el: '#app',
        data: {
            name: 'Anil',
            age: '30',
            elements: []
        },
        methods: {
            changeName: function () {
                this.name = 'Kumar'
            },
            addElement: function () {
                this.elements.push(this.elements.length + 1);
            },
            getColor: function (number) {
                return number % 2 == 0 ? 'green' : 'red';
            },
            changeUser: function(){
               
            }
        }
    });
</script>