<script src="https://unpkg.com/vue"></script>

<style>
    .multiple-hobbies{
        border: 1px solid red;
    }
</style>

<div id="hobbydiv">
    <p 
        v-bind:style="{color: hobbies.length > 3 ? 'red' : 'black'}"
        v-bind:class="{'multiple-hobbies': hobbies.length > 3}">Total hobbies : {{ hobbies.length }}</p>
    <p v-if="hobbyWasDeleted">Hobby was deleted!</p>
    <input type="text" name="hobbytxt" id="hobbytxtid" v-model="userHobby">
    <button v-on:click="addHobby" id="addhobbybtn">New Hobby</button>
    <p>
        <app-hobby
            v-for="hby in hobbies"
            v-bind:hobby="hby"></app-hobby>
    </p>
    <!--p v-for="hobby in hobbies"
       v-on:click="removeHobby(hobby)"> {{ hobby }} </p-->
</div>

<script>
    Vue.component('app-hobby', {
        props: ['hobby'],
        template: '<p>{{ hobby }}</p>'
    });
new Vue({
    el: '#hobbydiv',
    data:{
        hobbies: ['Playing cricket', 'Reading books'],
        userHobby: '',
        hobbyWasDeleted: false,
        //counter: 2
    },
    methods:{
        addHobby: function(){
            this.hobbies.push(this.userHobby);
            //this.counter = this.counter + 1;
        },
        removeHobby: function(hobby){
            var position = this.hobbies.indexOf(hobby);
            this.hobbies.splice(position, 1);
            //this.counter = this.counter - 1;
            this.hobbyWasDeleted = true;
        }
    }
});
</script>